@using System.Threading
@using System.Web.Optimization
@using Abp.Extensions
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script type="text/javascript">
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
</head>
<body ng-app="app">
    <div class="app app-header-fixed" ui-view ng-controller="MainCtrl">
    </div>
    @Styles.Render("~/Bundles/Admin/js")
  
</body>
</html>