<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="#/">
          <div class="logo-default">会议管理系统</div>
        </a>
        <div class="menu-toggler sidebar-toggler">
            <span></span>
      
        </div>
       
    </div>
    <div class="page-top">
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile">
                             {{vm.getShownUserName()}}
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="#"><i class="icon-key"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","Account")"><i class="icon-logout"></i>退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>