<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="#/">
          <div class="logo-default">会议管理系统</div>
        </a>
        <div class="menu-toggler sidebar-toggler">
            <span></span>
      
        </div>
    </div>
</div>